.app{
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  width: 100vw;
  height: 100vh;
}
.app-body{
  display: flex;
  background-color: #ededed;
  width: 95vw;
  height: 95vh;
  margin: -30px 0;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}
@media (max-width: 645px) { 
  .app-body{
    width: 100vw;
    height: 100vh;
  }  
 }
